.form{
    padding: 40px;
    margin: 100px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-large);
    background-color: var(--base-color);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
}

.auth_opt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.auth_switch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: var(--spacing-medium);
    /*margin-bottom: var(--spacing-medium);*/
}

.form h1{
    margin-bottom: var(--spacing-large);
    font-weight: 600;
}

.postForm{
    padding: 40px;
}

.select-container {
    position: relative;
}

.selectDropdown {
    position: relative;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    width: 100%;
    max-height: 200px; /* Set the maximum height of the dropdown */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-large);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selectOption {
    padding: 8px 12px;
    cursor: pointer;
}

.selectOption:hover {
    background-color: #f0f0f0;
}

/* Style the selected option */
.select-option[selected="true"] {
    background-color: #007bff;
    color: #fff;
}