input{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius-large);
    margin-top: var(--spacing-small);
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

input::placeholder {
    color: var(--text-color);
    font-size: 14px;
}